<h1 align="Center"><%= @user.first_name %>'s Profile</h1>

<%= render 'stocks/lookup' %></br></br>


<h3 style="font-size: 1.5em;">Portfolio</h3>


<div class="row col-md-12"> 
  <ul style="padding:20px; margin-left: -5px; line-height: 30px;">
  <% @user.stocks.each do |f| %>
    <div style="border-bottom: solid 1px lightgrey">
      <div style="font-weight:bold;">
        <%= f.name %>
        (<%= f.ticker %>)
        <% if @user = current_user %>
        <%= link_to "Delete", user_stock_path(f), method: :delete,
                              class: "btn-xs btn-danger", style:"float:right; margin-top: 10px;" %>
        <% end %>
      </div>
      Last Price: <%= f.last_price %>
    </div>
  <% end %>
  </ul>
</div>

