<h1 align="Center"><%= @user.first_name.capitalize %>'s Profile</h1>

<div align="Center">
  <% if current_user==@user %>
  (<%= link_to "Update Basic Info", edit_user_path(@user) %>)
  <% end %>
</div></br>

<% if current_user == @user %>
<%= render 'stocks/lookup' %>
<% end %>


<div align="center">
  <% if current_user.friends.include?(@user) && current_user != @user %>
  <%= link_to "Unfollow this person", root_path, class: "btn-lg btn-primary" %>
  <% end %>
  <% if !current_user.friends.include?(@user) && current_user != @user %>
  <%= link_to "Follow this person", add_friend_path(user: current_user, friend: @user),
                                        class: "btn-lg btn-primary", method: :post %>
  <% end %>
</div>


<h3 style="font-size: 1.5em;">Portfolio</h3>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Current Price</th>
    </tr>
  </thead>
  <tbody>
    <% @user.stocks.each do |f| %>
    <tr>
      <th><%= f.name %></th>
      <th><%= link_to f.ticker, stock_path(f) %></th>
      <th><%= f.last_price %></th>
    </tr>
    <% end %>
  </tbody>
</table></br>


<h3 style="font-size: 1.5em;">Users Tracked</h3>

<div class="row col-md-12", style="padding:20px; margin-left: -5px; line-height: 50px;">
  <% @user.friends.each do |h| %>
  <div style="border-bottom: dashed 1px grey;">
    <%= link_to (h.first_name.capitalize)+" "+(h.last_name.capitalize), user_path(h) %>
  </div>  
  <% end %>
</div>
